{{> body-open }}
    {{> header }}
    <div class="wrap">
        <div class="container">
            <div class="row">
                <main class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2 content">

                    {{> blog-post this }}

                </main>
            </div>
        </div>
    </div>
{{> copyleft }}    
{{> body-close }}