.DS_Store
Thumbs.db
db.json
*.log
node_modules/
public/
.deploy*/._.DS_Store
._.*
._*
launch.json
themes/conway/source/bower_components/*
themes/conway/dependencies/bower_components
themes/conway/source/css/
