<%- partial('_partial/head', null, {cache: true}) %>
<body>
    <%- partial('_partial/header', null, {cache: true}) %>
    <div class="wrap">
        <div class="container">
            <div class="row">
                <main class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2 content">
                    <%- body %>
                </main>
            </div>
        </div>
    </div>
    <%- partial('_partial/footer', null, {cache: true}) %>
</body>
</html>