* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: system-ui, sans-serif;
}

.hero {
    position: relative;
    height: 200px;
    width: 100%;
    background: royalblue;
}

.hero__bar {
    position: absolute;
    left: 0;
    right: 0;

    height: 10px;

    animation-name: hero-move;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-fill-mode: both;

    animation-timeline: scroll(root);
}

.hero__bar.one {
    background: gold;
    bottom: 60px;
    animation-range: 0 100px;
}
.hero__bar.two {
    background: green;
    bottom: 40px;
    animation-range: 0 80px;
}

.hero__bar.three {
    background: lime;
    bottom: 20px;
    animation-range: 0 60px;
}

.hero__bar.four {
    background: red;
    bottom: 0px;
    animation-range: 0 40px;
}

.hero2 {
    position: relative;
    height: 200px;
    width: 100%;
    background: royalblue;
}

.hero2__bar {
    position: absolute;
    left: 0;
    right: 0;

    height: 10px;

    animation-name: hero-move2;
    animation-timing-function: linear;
    animation-fill-mode: both;
    animation-duration: 1ms;
    animation-timeline: view(y 0 75%);
}

.hero2__bar.one {
    background: gold;
    bottom: 60px;
    animation-range: 0 100px;
}
.hero2__bar.two {
    background: green;
    bottom: 40px;
    animation-range: 0 80px;
}

.hero2__bar.three {
    background: lime;
    bottom: 20px;
    animation-range: 0 60px;
}

.hero2__bar.four {
    background: red;
    bottom: 0px;
    animation-range: 0 40px;
}

/* Textbereich nur für Demo */
.content {
    padding: 2rem 1.5rem;
}

.content p {
    margin-bottom: 1.5rem;
}

/* Keyframes:
   - Bei Scroll 0px: Blaues Div „schließt unten im gelben“ (Standardposition).
   - Bei Scroll 100px: Blaues Div ist um 100px verschoben, so dass es
     wegen der Gegenbewegung zum Scrollen oben am Viewport „abschließt“. */
@keyframes hero-move {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-100px);
    }
}

@keyframes hero-move2 {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-200px);
    }
}
