<footer>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2">
                <a href="/impressum/"><i class="fa fa-creative-commons"></i> <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %></a><br>
                Just a bunch of files generated with <a href="http://hexo.io/" target="_blank">hexo</a>
            </div>            
        </div>  
    </div>
</footer>

<script>
    var Samisdat = {};
    Samisdat.Conway = {};
</script>

    <script src="https://samisdat.org/js/conway.js"></script>

</body>
</html>