<footer>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2">
                <a href="/impressum/"><i class="fa fa-creative-commons"></i> 
                {{moment-format '2016' 'YYYY'}} - {{moment-format date 'YYYY'}}
                Bastian Pertz
                </a><br>
                Just a bunch of files generated with <a href="https://metalsmith.io/" target="_blank">metalsmith</a>
            </div>            
        </div>  
    </div>
</footer>
