div.hills {
    aspect-ratio: 450/600;
    max-height: 500px;
    margin: 0 auto;
}
svg {
    width: 100%;
    height: 100%;
    fill-rule: evenodd;
    clip-rule: evenodd;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 1.5;
    display: block;
    border-radius: 0.5rem;
    border: 1px solid lab(from var(--background-color) calc(l + 30) a b);
}

.parallax {
    transition: transform 10ms ease;
    transform: translateX(calc(10px * var(--parallax-x) * var(--depth)))
        translateY(calc(10px * var(--parallax-y) * var(--depth)));
}

.colorLayer {
    fill: color-mix(in srgb, #0c1d22 calc(100% - var(--mix)), #bac3a2 var(--mix));
}

.heaven {
    fill: url(#Linear2);
}

.sun {
    fill: #f3e4b7;
}

.bankHighlight {
    --mix: 100%;
}
