footer{
    a{
        color:#201d2c;
    }
    a:hover{
        color:lighten(#201d2c, 30%);
    }
    
    font-size:16px;
    width:100%;
    background:$lila;
    
    .row{  
        background:mix($lila, #fff, 80%);
    }
    .col-md-4{  
        padding-top:($grid-gutter-width/2);
        padding-bottom:($grid-gutter-width/2);    
        background:mix($lila, #fff, 60%);
    }
}
