.pager li > a, .pager li > span{
  border-radius:0px;
}

main{
    article{
        padding-bottom: $grid-gutter-width * 2;
        
        &:last-child{
            padding-bottom: $grid-gutter-width/2;
        }
    }
    

    h1{
        margin-top:($grid-gutter-width/2);
        padding-bottom: ($grid-gutter-width/2);
        a, a:hover{
            color:#333333;
        }
    }

    time{
        display: block;
        text-align: right;
    }
    
    code{
        display: block;
        overflow-x: auto;
        padding: 0.5em;
        color: #333;
        background: #f8f8f8;
        font-family: 'Source Code Pro', monospace;
    }
    .img{
        margin-bottom: $grid-gutter-width;
        &.right{
            float: right;
            margin-left: $grid-gutter-width;
        }
        &.left{
            float: right;
            margin-right: $grid-gutter-width;
        }
        &.half{
            width: 50%;
        }
        &.third{
            width: 33%;
        }
        img{
            width: 100%;
        }   
    }
    .more{
        text-align: right;
        
        .btn-primary {
              @include button-variant($btn-primary-color, #9996a5, #807c8e);
              border-radius: 0px;
        }

    }
}


.github-chart{
    li{
        a.github-user,
        a.github-repo{
            display: inline-block;
        }

        a.github-user{
            background: lime;
        }
        a.github-repo{
            background: purple;
        }
    }
}
