.pager li > a, .pager li > span{
  border-radius:0px;
}

main{
    article{
        padding-bottom: $grid-gutter-width * 2;
        
        &:last-child{
            padding-bottom: $grid-gutter-width/2;
        }
    }
    

    h1{
        margin-top:($grid-gutter-width/2);
        padding-bottom: ($grid-gutter-width/2);
        a, a:hover{
            color:#333333;
        }
    }

    time{
        display: block;
        text-align: right;
    }
    
    code{
        display: block;
        overflow-x: auto;
        padding: 0.5em;
        color: #333;
        background: #f8f8f8;
        font-family: 'Source Code Pro', monospace;
    }
    .img{
        margin-bottom: $grid-gutter-width;
        &.right{
            float: right;
            margin-left: $grid-gutter-width;
        }
        &.left{
            float: right;
            margin-right: $grid-gutter-width;
        }
        &.half{
            width: 50%;
        }
        &.third{
            width: 33%;
        }
        img{
            width: 100%;
        }   
    }
    .more{
        text-align: right;
        
        .btn-primary {
              @include button-variant($btn-primary-color, #9996a5, #807c8e);
              border-radius: 0px;
        }

    }
}


.github-chart{
    border:1px solid green;
    list-style: none;
    padding: 0px;
    li{
        list-style: none;

        a.github-repo{
            color:#6693cd;
            font-weight: bold;
            .prefix,
            .slash{
                font-weight: normal;
            }
        }
    }


}

.github-chart-wrap{
    svg{
        width:100%;
    }

    text {

    }

    .axis path,
    .axis line {
      fill: none;
      stroke: #000;
      shape-rendering: crispEdges;
    }

    .line {
      fill: none;
      stroke-width: 2.5px;
    }

    .label, .tooltip-label {
      text-anchor: end;
    }
    .label text
    .tooltip-label text
    {
      cursor: pointer;
    }

    .label rect,
    .tooltip-label rect
    {
      fill: white;
      opacity: 0.7;
    }

    .label-key {
      font-weight: bold;
      text-align: right;
      width: 100px;
    }

    .inlineAxis line{ 

        stroke: white;  
        fill: none;
        stroke-width: 3px;
    }    

   .focusCircle {
        /*fill: red;*/
    }

    .axis-bg{
        fill: #fff;
        fill-opacity: 0.2;
        &.even{
            fill-opacity: 0.4;            
        }

    }
    .axis-bg-text{
        font-size: 12px;
    }

}