.navbar{
	background: $lila;
    padding: 0;
	.row{
	    background:#9995a6;
	    background:mix($lila, #fff, 80%);
	}
	.col-md-4{
	    background:mix($lila, #fff, 60%);
	}
}


/*
h1{
    margin-top:0px;
    margin-bottom:0px;
    line-height: 55px;
    background:mix($lila, #fff, 60%);
    display: none;
}
h1 a{
    display:block;
    text-align:center;
    color:#fff;
    background:url(/images/logo.png) center center no-repeat;
    height:55px;
    overflow: hidden;
    padding-top:55px;
}
*/