<p>Hi, mein Name ist Bastian Pertz.<br>
Ich <span title="nicht nur, aber auch">bin</span> Webentwickler und lebe und arbeite in Wuppertal.</p>

<p>
Tagsüber mache ich in PHP; wenn die Sonne untergeht, dann schreibe ich am Liebsten Javascript: <em>Traditionell</em> oder als NodeJs.
</p>