<p>hi, i am bastian and i left some space left here to fill later.</p>
<div class="info">
    <ul>
        <li>
            <span class="not-a-link">
                <i class="fa fa-phone"></i>
                <span>+49 151 55 10 86 34</span>
            </span>
        </li>
        <li>
            <a href="mailto:bastian.pertz@gmail.com">
                <i class="fa fa-envelope-o"></i>
                <span>bastian.pertz@gmail.com</span>
            </a>
        </li>
        <li>
            <a href="https://twitter.com/samisdat">
                <i class="fa fa-twitter"></i>
                <span>@samisdat</span>
            </a>
        </li>
        <li>
            <a href="https://github.com/samisdat">
                <i class="fa fa-github"></i>
                <span>https://github.com/samisdat</span>
            </a>
        </li>
    </ul>
</div>
