<li class="nav-item dropdown">
	<a class="nav-link dropdown-toggle" href="<%- item.url %>" data-toggle="dropdown">
		<%- item.text %>
		<span class="caret"></span>
	</a>
	<ul class="dropdown-menu">
        <% item.children.forEach(function(child){ %>
			<%- partial('_partial/navbar-item', {item: child}) %>
		<% }) %>
	</ul>
</li>
